
body {
  background-image: url(img/1.png); /* Путь к фоновому изображению */
 }
.top-line{
    width: 1449px;
    height: 66px;
    background-color: black;
  } 
 .top-line-2{
  width: 1449px;
  height: 69px;
  background-color: #474747;
  
  }
  .sguare{
    position:absolute;
    left:300px;
    top:8px;
    width: 80px;
    height: 66px;
    background-color: #f26c4f;
    clip-path: polygon(0% 0, 80% 0, 80% 31%, 100% 50%, 80% 67%, 80% 100%, 0 100%);
  }
  .g{
    color:white;
    position	: absolute;
	  top		: 11px;
	  left		: 325px;
    width		: 100%;
    font-size: 36px;
    font-weight:bold;}
    .good {
      color:white;
      position	: absolute;
      top		: 32px;
      left		: 390px;
      width		: 100%;
      font-size: 18px;
    
    }

  .block{
    width: 401px;
    height: 14px;
    display: flex;
  position	: absolute;
  top:102px;
  left: 283px;
  }
  .Contact{
    margin-left: 10%;
    color: white;
    text-decoration:none;
    font-family: Arial;
    font-size: 12px;
  }
  .Articles{
    margin-left: 10%;
    color: white;
    text-decoration:none;
    font-family: Arial;
  font-size: 12px;
  }
  .Staff{
    margin-left: 10%;
    color: white;
    text-decoration:none;
    font-family: Arial;
    font-size: 12px;
  }
  .Services{
    margin-left: 10%;
    color: white;
    text-decoration:none;
    font-family: Arial;
    font-size: 12px;
  }
  .Portfolio{
    margin-left: 10%;
    color: white;
    text-decoration:none; 
    font-family: Arial;
    font-size: 12px;
  }
  .wand{
  width: 1px;
  height: 11px;
  color: #767676;
  margin-left: 10%;
  font-size: 12px;
  }
  .input-1{
    position	: absolute;
    top:155px;
    width: 300px;
    height: 40px;
    left: 300px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
  }
  .clock {
    position	: absolute;
    top:163px;
    left: 562px;
    width: 32px;
    height: 32px;
  }
  .social{
    position: relative;
    left: 857px;
  }
  .Twitter{   
  text-decoration:none;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 12px;
  line-height: 5.92;
  color: #474747;
  text-align: left;
  }
  .Facebook{
  text-decoration:none;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 12px;
  line-height: 5.92;
  color: #474747;
  text-align: left;
  }
  .RSS{
    width: 36px;
    height: 14px;
    text-decoration:none;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 12px;
    line-height: 5.92;
    text-align: left;
    color: #474747;
  }
  .mail{
    width: 36px;
    height: 14px;
    text-decoration:none;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 12px;
    line-height: 5.92;
    text-align: left;
    color: #474747;
  }
  i{
    margin-left: 2%;
    width: 13px;
    height: 9px;
    box-shadow: 0px 1px 0 0 #ffffff;
    color: #8f8f8f;
  }
  .Layer-4 {
    width: 631px;
    height: 391px;
    object-fit: contain;
    position: relative;
    left: 270px;
  }
  .Rectangle{
    position: absolute;
    left: 516px;
    top: 84.5%;
    width: 371px;
    height: 62px;
    opacity: 0.5;
    box-shadow: 0px 1px 1px 0;
    background-color: black;
  }

  .text_bridge{
  position: absolute;
  left: 545px;
  top: 84%; 
  width: 245px;
  height: 17px;
  font-family: Arial;
  font-size: 16px;
  line-height: 4.44;
  letter-spacing: -0.16px;
  text-align: left;
  color: #ffffff;
}
.Rectangle-2 {
  position: absolute;
  width: 311px;
  height: 391px;
  box-shadow: 0px 1px 1px 0 var(--black);
  background-color: #373737;
  left: 887px;
  top:33.5%;
}
.Rectangle-3{
  position: absolute;
  width: 165px;
  height: 391px;
  background-color: #f26c4f;
  clip-path: polygon(70% 0, 76% 0, 76% 10%, 82% 15%, 76% 20%, 76% 100%, 70% 100%);
  left: 770px;
  top:33.4%;
}
.text-Housework{
position: absolute;
width: 222.1px;
height: 172.8px;
font-family: Arial;
font-size: 19px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.26;
letter-spacing: -0.19px;
text-align: left;
color: #ffffff;
left: 935px;
top:37%;
}
.Quisque-accumsan-eleifend-dolor{
position: absolute;
width: 222.1px;
  height: 207.5px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  color: #a7a7a7;
left: 935px;
top:53%;
}
.hide, .hide + label ~ div {
  display: none; 
}
.hide + label,
.hide:checked + label {
  padding: 0;
  cursor: pointer;
}
.hide:checked + label {
  border-bottom: 0;
}
.hide:checked + label + div {
  display: block; 
  background: #373737;
  padding: 10px; 
}
.clock2{
  position	: absolute;
  top:72%;
  left:77%;
}
.April-clock2 {
  width: 222.1px;
  height: 207.5px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  color: #a7a7a7;
  position	: absolute;
  top:72.3%;
  left:79%;
}